:root {
  --ggs: 0.75;
}
.icon-danger {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 40px;
}

.icon-danger::after,
.icon-danger::before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 2px;
  width: 2px;
  background: currentColor;
  left: 7px;
}

.icon-danger::after {
  top: 2px;
  height: 8px;
}

.icon-danger::before {
  height: 2px;
  bottom: 2px;
}
.icon-shape-half-circle {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs, 1));
  width: 8px;
  height: 16px;
  border: 2px solid;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: 0;
  transform-origin: 100% 50%;
}
.icon-check-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px;
}

.icon-check-o::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-color: currentColor;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}
.icon-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
}

.icon-trash::after,
.icon-trash::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.icon-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px;
}

.icon-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px;
}
