@import url(./icon.css);
.text-danger {
  color: red;
}

.text-success {
  color: green;
}
.jdd-file-upload-container {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}
.jdd-file-upload-container .jdd-file-upload-name {
  width: 100%;
  max-width: 120px;
  margin: 10px 0 0 5px;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 附件模式 */
.jdd-file-upload-select_attachment {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.jdd-file-upload-select_attachment.hide {
  display: none;
}
.jdd-file-upload-select_attachment p {
  font-size: 14px;
  margin: 5px auto;
}
/** 接受的文件类型样式 */
p.jdd-file-upload-select_tip{
  margin-top: 0;
  margin-bottom: 0;
}
.jdd-file-upload-select_attachment:hover {
  color: #999;
  border-color: #999;
}
.jdd-file-list_attachment {
  display: flex;
  flex-wrap: wrap;
}
.jdd-file-upload_attachment--item {
  display: inline-flex;
  box-sizing: border-box;
  width: 20%;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px;
  overflow-x: hidden;
}
@media screen and (max-width: 1920px) {
  .jdd-file-upload_attachment--item {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .jdd-file-upload_attachment--item {
    width: 33.3333%;
  }
}
@media screen and (max-width: 240px) {
  .jdd-file-upload_attachment--item {
    width: 100%;
  }
}
/* 文件后缀类型 */
.jdd-file-upload_attachment--item-type {
  box-sizing: border-box;
  width: 45px;
  height: 55px;
  padding-bottom: 8px;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #d6d5d5;
  color: #999;
  font-size: xx-small;
}
.jdd-file-upload_attachment--item-name {
  box-sizing: border-box;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jdd-file-upload_attachment--item-icons {
  box-sizing: border-box;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

/* 预览文件部分 */
.jdd-file-upload-preview {
  width: 120px;
  height: 120px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ccc;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  font-size: 0;
}
.jdd-file-upload-preview:hover {
  color: #999;
  border-color: #999;
}

.anim-loading {
  animation: loading 1s linear infinite;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* + 文件选择
 * 文件上传失败 
 */
.jdd-file-upload-select,
.jdd-file-upload-fail {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.jdd-file-upload-image {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.jdd-file-delete-icon.hide,
.jdd-file-upload-select.hide,
.jdd-file-upload-image.hide,
.jdd-file-upload-fail.hide,
.jdd-file-upload-success.hide,
.jdd-file-upload-mask.hide {
  display: none;
  pointer-events: none;
}
/* 文件上传失败 */
.jdd-file-upload-fail {
  flex-direction: column;
}
.jdd-file-upload-fail-icon {
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.jdd-file-upload-fail-text {
  font-size: 12px;
}
/* 上传时的遮罩 */
.jdd-file-upload-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 999;
}
/* 文件上传成功 */
.jdd-file-upload-success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 文件预览icon */
.jdd-file-preview-icon {
  margin-right: 5px;
}
/* common icons */
.jdd-icon-eye {
  position: relative;
  display: block;
  transform: scale(0.8);
  width: 24px;
  height: 18px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  box-sizing: border-box;
}

.jdd-icon-eye::after,
.jdd-icon-eye::before {
  content: '';
  display: block;
  border-radius: 100px;
  position: absolute;
  box-sizing: border-box;
}

.jdd-icon-eye::after {
  top: 2px;
  box-shadow: inset 0 -8px 0 2px, inset 0 0 0 2px;
  width: 24px;
  height: 24px;
}

.jdd-icon-eye::before {
  width: 8px;
  height: 8px;
  border: 2px solid;
  bottom: 4px;
  left: 8px;
}

.jdd-icon-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(0.8);
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
}

.jdd-icon-trash::after,
.jdd-icon-trash::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.jdd-icon-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px;
}

.jdd-icon-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px;
}
